
body {
    background-color: #504d47;
}


#visualization {
    background-color: #504d47;
}

#controls {
    position: absolute;
    top: 100px;
    left: 25px;
}

.widget {
    padding-bottom: 10px;
}

.widget_label {
    display: inline-block;
    width: 150px;
}

#year_range {
    margin-top: 10px;
    margin-left: 50px;
    width: 200px;
    margin-bottom: 5px;
}

.search_value {
    width: 95px;
}

#control_button {
    margin-left: 160px;
    width: 100px;
}
